body{
    padding: 0;
    margin: 0;
    color: #707070;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    text-align: center;
    background-position: center;
    line-height: 150%;
}

h3 {
    font-size: 45px;
}

@media (max-width:768px){
    body{
        font-size: 3vw;
    }
    h3{
        font-size: 7vw;
    }
}

/*　見出し線
--------------------------------*/
.heading {
    display: flex;
    align-items: center;
}

.heading:before,
.heading:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    background-color: #B8E1EC;
}

.heading:before {
    margin-right: 4rem;
}

.heading:after {
    margin-left: 4rem;
}
@media screen and (max-width:600px){
    .heading:before{
        margin-right: 2rem;
    }
    .heading::after{
        margin-left: 2rem;
    }
}

/*　ヘッダー
--------------------------------*/
header{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 999;
}

/*　ナビゲーションメニュー
--------------------------------*/
#nav {
    position: absolute;
    top: 0;
    right:-30vw;
    width: 30vw;
    height: 100vh;
    background: #ffffff;
    transition: .7s;
}
#nav ul{
    padding-top: 80px;
}
#nav ul li{
    list-style-type: none;
    font-size: 35px;
    line-height: 50px;
}
#nav a{
    text-decoration: none;
    color: #707070;
    margin: 0 15px;
    padding: 10px;
    transition: .5s;
}
a {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
  }
#nav ul a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #B8E1EC;
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
    content: "";
  }
#nav ul a:hover:after {
    transform: translate(0, 0);
  }
#hamburger {
    display: block;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 50px;
    height: 44px;
    cursor: pointer;
    transition: 1s;
  }
.inner_line {
    display: block;
    position: absolute;
    right: 0;
    width: 50px;
    height: 3px;
    background-color: #707070;
    transition: 1s;
    border-radius: 4px;
  }
#line1 {
    top: 0;
  }
#line2 {
    top: 20px;
  }
#line3 {
    bottom: 0px;
  }
.in{
    transform: translateX(-100%);
  }
.line_1,.line_2,.line_3{
    background: #707070;
  }
.line_1 {
    transform: translateY(20px) rotate(-45deg);
    top: 0px;
}
.line_2 {
    opacity: 0;
  }
.line_3 {
    transform: translateY(-20px) rotate(45deg);
    bottom: 0;
  }

@media screen and (max-width:768px){
    #nav {
        right:-40vw;
        width: 40vw;
    }
    #nav ul li{
        font-size: 30px;
        line-height: 45px;
    }
    .inner_line {
        width: 30px;
        height: 3px;
      }
    #line2 {
        top: 10px;
      }
    #line3 {
        bottom: 20px;
      }
    .line_1 {
        transform: translateY(10px) rotate(-45deg);
      }
    .line_3 {
        transform: translateY(-10px) rotate(45deg);
      }
}

/*　メイン
--------------------------------*/
#home_main {
    height: auto;
    z-index: 1;
    margin-bottom: 5vw;
}
.main{
    position: relative;
}
.text_area{
    position: absolute;
    color: white;
    font-family:'Orelega One', 'cursive';
    font-family: 'Ubuntu',sans-serif;
    font-size: 45px;
    top: 50%;
    left: 45%;
    margin-top: -50px;
    margin-left: -100px;
}
img{
    width: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: bottom;
}
.main img {
    width: 100%;
}

@media  screen and (max-width:450px) {
    .text_area{
        font-size: 35px;
    }
}
@media screen and (max-width:280px) {
    .text_area{
        font-size: 20px;
    }
}
/*　About (自己紹介）
--------------------------------*/
#about {
    padding-top: 10px;
    margin-top: -1vw;
    margin-bottom: 2vw;
    line-height: 100%;
}
.about_img {
    width: 20vw;
    border-radius: 50%;
    padding: 40px;
}
.icon{
    width: 60px;
    margin: 20px;
}
@media screen and (max-width:768px){
    .about_img{
        width: 40vw;
    }
    .icon{
        width: 10vw;  
    }
}
/* Strenghs (強み）
--------------------------------*/
#strengths {
    padding-top: 10px;
    margin-top: -10px;
}
.strengths {
    display: flex;
    margin-top: 5vw;
    padding: 70px;
}
.strengths_img{
    width: 35vw;
    height: 35vw;
}
.section1 {
    display: block;
}
.section1,.section2 {
    text-align: left;
    padding-left: 10px;
    padding: 30px;
}
.title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.text{
    padding: 3%;
    text-align: center;
}

@media screen and (max-width:768px)
 {
    .strengths{
        display: block;
        padding: 0;
    }
    .strengths_img{
        width: 65vw;
        height:65vw;
        margin-bottom: 1vw;
    }
    .section1,.section2 {
        text-align: center;
        margin: 0;
        padding: 2vw;
    }
    .title{
        font-size: 4vw;
        padding: 0%;
    }
    .title p{
        margin: 1vw;
    }
    .text{
        display: inline-block;
        padding: 2vw;
        font-size: 3vw;
    }
}
/* スキル
--------------------------------*/
#skills{
    margin-top: 100px;
}
.skills_group1{
    margin-top: 80px;
}
p.skills_title1,p.skills_title2{
    font-size: 30px;
    font-weight: bold;
}
p.skills_title2{
    margin-top: 50px;
    margin-bottom: 5px;
}

.unit1,.unit2,.unit3,.unit4{
    padding: 3px;
    margin: 0;
}

@media screen and (max-width:600px){
    .skills_group1{
        margin-top:3vw;
    }
    p.skills_title1,p.skills_title2{
        font-size: 5vw;
    }
}
/* フッター
--------------------------------*/
footer {
    height:10% ;
    bottom: 0;
    background-color: #ADBBC8;
    font-size: 5%;
    color: #ffff;
}
footer p {
   margin:auto;
   line-height: 60px;
}